* {
    margin: 0;
    padding: 0;
    box-sizing: barder-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(0, 0, 0, 0.493);
}

.logo {
    color: white;
    font-size: 22px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 38%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.test div {
    width: 25px;
    height: 3px;
    background-color: white;
    
}